@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

@property --sketchy-arrow-width {
  syntax: "<length>";
  initial-value: 1px;
  inherits: true;
}
@property --sketchy-arrow-tip-spread {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: true;
}
@property --sketchy-arrow-tip-size {
  syntax: "<number>";
  initial-value: 40;
  inherits: true;
}
@property --sketchy-arrow-point-approx {
  syntax: "<number>";
  initial-value: 3;
  inherits: true;
}
@property --sketchy-arrow-count {
  syntax: "<integer>";
  initial-value: 3;
  inherits: true;
}
@property --sketchy-arrow-color {
  syntax: "<color>";
  initial-value: black;
  inherits: true;
}
@property --sketchy-arrow-random-seed {
  syntax: "<integer>";
  initial-value: 1234;
  inherits: true;
}

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --sliding-duration: 0ms;
  --fragment-duration: 300ms;
  --brand-color: #f60;
  --brand-color-gfy: #822a7c;
  --sketchy-arrow-width: 0.1em;
  --sketchy-arrow-tip-size: 20;
}

p-deck::after {
  position: fixed;
  bottom: 0.5em;
  left: 0;
  right: 0;
  font-size: 50%;
  text-align: center;
  content: "@MaxArt2501";
  color: #001236;
  z-index: 100;
}

p-fragment.landing {
  position: absolute;
  transform: scale(3);
  transition: opacity var(--fragment-duration, 300ms),
    transform var(--fragment-duration, 300ms);

  &[aria-hidden="false"],
  p-deck[mode="speaker"] & {
    transform: scale(1);
  }
}

.our-header {
  border-left: var(--brand-color) solid 0.15em;
  padding: 0.5em;
  margin: 0 0 0.5em;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-gap: 1em;
  align-items: center;
}

.cover {
  --slide-bg: var(--brand-color);
  background: var(--slide-bg) no-repeat center/133vmin
    url("../img/logo-antreem-contour.svg");
  text-align: center;
  color: white;

  h1 {
    font-size: 1.5em;
  }

  a {
    color: rgba(255, 255, 255, .8)
  }

  small {
    display: block;
  }

  figure {
    margin: 0;
  }
  img {
    height: 4em;
  }

  .logo {
    background: white;
    padding: 0.2em;
    border-radius: 0.5em;
    height: 5em;
  }
}

.gellify {
  text-transform: uppercase;
  font-size: 80%;
}

.links {
  font-size: 70%;
  align-self: center;
  margin-top: 0.5em;

  li:not(:first-child) {
    margin-top: inherit;
  }
  a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1.75em;
  }
}

.antreem-logo {
  position: absolute;
  height: 12em;
  right: 0;
  bottom: -4em;
}
.my-data {
  > h2 {
    margin-bottom: 0;
  }
  a {
    font-weight: bold;
  }
  a:first-of-type {
    color: var(--brand-color);
  }
  a:last-of-type {
    color: var(--brand-color-gfy);
  }
}
.my-face {
  border: 0.1em solid var(--brand-color);
  border-radius: 50%;
  height: 6em;
  float: left;
  margin: 0 1em;
}
.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;
  img {
    height: 1em;
    vertical-align: middle;
  }
}
.final-link {
  a {
    color: var(--brand-color);
  }
  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}

.shadow {
  box-shadow: 0 0 0.5em rgba(black, 0.5);
}

.javascript {
  background-color: #f7df1e;
  padding: 0 0.25em;
}

.big-x {
  &-wrapper {
    position: relative;
  }

  &::before,
  &::after {
    content: "";
    top: -25%;
    left: 50%;
    height: 150%;
    width: 0.5em;
    border-radius: 0.25em;
    transform: rotate(45deg);
    background: rgba(red, 0.9);
    position: absolute;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.sketchy-arrow {
  position: absolute;
  background: paint(sketchy-arrow);
  aspect-ratio: 16 / 9;
  animation: sketchy 0.3s steps(3) infinite;
  filter: drop-shadow(0.075em 0.075em 0 white);
  text-align: center;
}

@keyframes sketchy {
  from {
    --sketchy-arrow-random-seed: 20;
  }
  to {
    --sketchy-arrow-random-seed: 40;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Old Newspaper Types', serif;
  font-weight: normal;
  color: #403831;
}

a {
  color: #785f3c;
}

.meme-text {
  font-family: 'Old Newspaper Types', serif;
  -webkit-text-stroke-width: 0.02em;
  font-weight: normal;
}
.full-media {
  &.full-media-x {
    height: auto;
    top: auto;
  }
  &.full-media-y {
    width: auto;
    left: auto;
  }
}

code, pre {
  &, &[class*="language-"] {
    font-family: 'Gabriele Bad', monospace;
    line-height: 1.33333;
  }
}

.old-photo, pre[class*='language-'] {
  border-width: 1em;
  border-style: solid;
  border-image-source: url(../img/old-photo-borders.webp);
  border-image-slice: 80 80 90 fill;
  border-image-repeat: stretch;
}
pre[class*='language-'] {
  border-width: .25em;
  border-image-slice: 20 20 23 fill;
  background: none;
  filter: sepia(.15);

  > p-fragment > code {
    background: none;
  }
}


.frame {
  position: absolute;
  border: .1em solid;
  border-radius: .25em;
  overflow: hidden;
  opacity: .75;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: .5;
  }
}

.giko-slide {
  display: grid;
  grid-template-areas: 'title title' 'photo link';
  gap: 1em 0.5em;
  place-items: center;
  justify-content: center;

  img:first-of-type {
    grid-area: title;
    height: 2em;
  }
  img:last-of-type {
    height: 9em;
  }
  h2 {
    margin-top: 0;
    width: 7em;
  }
}


.old-frame {
  border-width: .5em;
  border-style: solid;
  border-image-source: url(../img/frame.webp);
  border-image-slice: 65;
  height: 6em;
  width: 8.78em;
  background-image: url(../img/spring.jpg);
  background-size: cover;
  background-position: center;

  p-deck:not([mode='speaker']) & {
    animation: frame-stretch 3s infinite alternate;
  }

  &#{&} {
    margin: auto;
  }
}

@keyframes frame-stretch {
  0% {
    width: 8.78em;
    background-image: url(../img/spring.jpg);
  }
  59% {
    background-image: url(../img/spring.jpg);
  }
  60% {
    background-image: url(../img/monalisa.jpg);
  }
  100% {
    width: 4.39em;
    background-image: url(../img/monalisa.jpg);
  }
}

.articles {
  div {
    margin: auto;
    width: 12em;
  }

  article {
    width: 100%;
    padding-bottom: .5em;

    + article {
      padding-top: .5em;
      padding-bottom: 0;
      border-top: .1em double #685c52;
    }
  }
  h4 {
    font-size: .75em;
    margin: 0 0 .25em;
  }
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30%;

    &::first-letter {
      font-size: 220%;
      float: left;
      float: inline-start;
      margin-top: -.15em;
    }
  }
  img {
    height: 6em;
    margin: .25em;
    float: left;
    float: inline-start;
  }
}

.newspaper {
  container: newspaper / inline-size;
  width: 5em;
  padding: 0.5em;
  margin: auto;
  background: #e6cfbb;
  animation: newspaper 8s infinite alternate-reverse;

  article {
    display: grid;
    color: #61564c;
    gap: .125em .25em;
  }

  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: .21em;
    text-align: justify;
    text-indent: 1.5em;
  }
  figure {
    margin: .125em 0;
    display: flex;
    flex-direction: column;
  }
  figcaption {
    font-size: 4.2cqw;
    font-style: italic;
  }
  img {
    width: 100%;
  }
  h2 {
    font-size: 8.4cqw;
    letter-spacing: -.1em;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h5 {
    margin-block: 0 0.25em;
    font-size: 4.2cqw;
    font-style: italic;
  }

}
@container newspaper (width > 36vw) {
  .newspaper {
    section {
      column-count: 2;
      column-gap: 0.25em;
      column-rule: 0.025em solid #61564c;
    }
    h5 {
      font-size: 3cqw;
    }
    figure {
      margin-inline: auto;
      width: 8.5em;
    }
    figcaption {
      margin-top: .125em;
      font-size: .21em;
    }
  }
}
@container newspaper (width > 48vw) {
  .newspaper {
    article {
      grid-template-columns: 3fr 2fr;
    }
    header {
      grid-column-end: span 2;
    }
    h2 {
      letter-spacing: 0;
      text-align: center;
      font-size: 7.2cqw;
    }
    h5 {
      font-size: 2.15cqw
    }
    section {
      column-count: 1;
    }
    figure {
      width: auto;
    }
    img {
      flex-grow: 1;
      object-fit: cover;
    }
    figcaption {
      font-size: 1.75cqw;
    }
  }
}
@container newspaper (width > 60vw) {
  .newspaper {
    header {
      display: contents;
    }
    h2 {
      grid-column: 1 / span 2;
    }
    h5 {
      grid-column: 2;
    }
    figure {
      grid-area: 2 / 1 / span 2 / span 1;
    }
    figcaption {
      font-size: 1.5cqw;
    }
    section {
      column-count: 2;
    }
  }
}
@container newspaper (width > 72vw) {
  .newspaper {
    article {
      grid-template-columns: auto 7em;
    }
    header {
      display: block;
    }
    figure {
      grid-area: 1 / 1 / span 2 / span 1;
    }
    header {
      grid-column-end: span 1;
    }
    h2 {
      font-size: 3.2cqw;
      letter-spacing: -.1em;
    }
    h5 {
      font-size: 1.6cqw;
    }
  }
}
@keyframes newspaper {
  from { width: 5em; }
  to { width: 20em; }
}

.support-table {
  font-size: 150%;
  width: 12em;
  margin: auto;
  border-collapse: collapse;

  img {
    height: 2em;
    filter: saturate(0) drop-shadow(0.1em 0.1em 0.1em #0005);
  }
  th {
    border-bottom: .1em solid;
  }
  td, th {
    text-align: center;
    padding: .5em;

    &:not(:first-child) {
      border-inline-start: .1em solid;
    }
  }
  span {
    font-size: 150%;
  }

  caption {
    font-family: "Old Newspaper Types", serif;
    font-size: 60%;
    margin-bottom: 0.5em;
  }
}

@property --progress-value {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

.the-progress {
  height: 3.5em;
  width: 16em;
  margin: auto;
}
.bar {
  height: 100%;
  width: var(--progress-value);
  background: red;
  animation: progress-example 3s linear infinite alternate;

  &::before {
    content: var(--progress-value);
  }
}
@keyframes progress-example {
  0% {
    --progress-value: 0%;
    background-color: red;
  }
  49% {
    background-color: red;
  }
  50% {
    --progress-value: 50%;
    background-color: yellow;
  }
  89% {
    background-color: yellow;
  }
  90% {
    --progress-value: 90%;
    background-color: green;
  }
  100% {
    --progress-value: 100%;
    background-color: green;
  }
}
